@media(max-width: 1000px){
    .navItems{
        width: 65%;
    }
}

@media(max-width: 768px){
    .navItems{
        display: none;
    }
}

#grooming:hover::before {
    content: "coming soon";
    display: flex; /* Ensures the content respects width and height */
    width: 8rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    color: black;
    position: absolute;
    top: 4rem;
    left: 57.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center; /* Centers the text horizontally */
    line-height: 1.5rem; /* Centers the text vertically */
    border-radius: 4px; /* Optional: Adds rounded corners */
}